<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClassCertificates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CountDown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Squarer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Triangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TurkeyTimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TwoFloats.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>challenge4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>chapter10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>chapter11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>chapter9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>countDownWithUserInput.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21C2EE1C1D2186EF002C4D11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C2EE271D218756002C4D11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C2EE321D218A8B002C4D11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C2EE3D1D218B9D002C4D11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C2EE481D218D1E002C4D11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21F7DEB31D201D0600A82A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21F7DEC11D201EEF00A82A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21F7DECC1D20298F00A82A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21F7DED81D20390A00A82A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21F7DEE31D2042EB00A82A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21F7DEEE1D20446B00A82A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21F7DEF91D2047CE00A82A6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
