<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chapter13To15.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>chapter13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>chapter14.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>chapter14_2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21C2EDED1D217C86002C4D11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C2EDFB1D21813A002C4D11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C2EE061D218172002C4D11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C2EE111D2183C7002C4D11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
